.hamburger-menu {
    display: inline-block;
    position: relative;
}

/* Стили для иконки меню */
.menu-icon {
    cursor: pointer;
    font-size: 24px;
    margin-right: 20px;
}

/* Стили для панели меню */
.menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000; /* Поднимаем меню над остальными элементами */
}

/* Стили для списка меню */
.menu-items ul {
    list-style-type: none;
    padding: 0;
}

/* Стили для элементов списка меню */
.menu-items li {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease; /* Плавное изменение цвета при наведении */
}

/* Стили для элементов списка меню при наведении */
.menu-items li:hover {
    color: #007bff; /* Цвет при наведении */
}